@font-face {
    font-family: 'SF Pro';
    src: url('path/to/SF-Pro-Regular.otf') format('opentype');
  }

  .frontPageLogo {
    padding-left: 20px;
    padding-bottom: 10px;
  }

  .navBarBackground {
    background-color: white;
  }

  .picture-middle {
    background-color: darkblue;
  }

  .navBarCenter {
    text-align: left;
  }

  .navBarRight {
    float: right;
  }

  .item-padding {
    padding-left: 30px;
    padding-right: 30px;
  }

  .item-padding-front {
    padding-left: 60px;
    padding-right: 30px;
  }

  .item-padding-back {
    padding-left: 30px;
  }

  .logoAlign {
      left: -20px;
  }

.divPicture {
  position: relative; width: 100%; height: 85vh; overflow: hidden;
}

  .scaleableBgLeft {
      max-width: 45%;
      width: 100%;
      height: 85%;
      position: absolute;
      top: 0;
      /* box-shadow: 10px 0px 100px rgba(0, 0, 0, 0.5);  */
      border-right: 8px solid white;
  }
  
  .scaleableBgRight {
      z-index: -1; /* Ensure it is behind the .scaleableBgLeft image */
      max-width: 100%;
      margin-left: 550px;

      height: 85%;
      position:static;
      top: 0;
  }

  .scaleableBgRightNew {
    position: fixed;
    object-fit: cover;
    transform-origin: center center;
  }

  .invisTextBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-120%, -85%);
    text-align: center;
    z-index: 3;
    width: 600px; /*changed text box width */
    text-align: left;
    font-size: 80px;
  }

  .invisTextBoxP {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-119%, 85%);
    text-align: center;
    z-index: 3;
    width: 600px; /*changed text box width */
    text-align: left;
    font-size: 25px;
    opacity: 80%;
  }

.footerBottom {
  color: #858585;
  font-weight: 100;
  background-color: white;
  text-align: center;
  font-size: small;
  position: absolute; bottom: 0; width: 100%; text-align: center;
  margin-top: 10px;
}

.footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 65px;
}

.footer a {
  color: black;
  text-decoration: none;
}

.footer-categories {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start; /* Align items to the left */
  width: 50%;
}

.footer-subcategories {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-subcategories li {
  margin: 5px 0;
}

#container {
  position: relative;
  height: 100vh;
  overflow-x: scroll;
}

#image {
  position: absolute;
  left: 0;
  width: 45vw; /* initially takes up left 45% of the viewport width */
  height: 100%;
  transition: left; /* smooth transition */
}

@media screen and (max-width: 1200px) {
  .scaleableBgLeft {
      max-width: 60%; /* Adjust as needed */
  }
  .scaleableBgRight {
    margin-left: 400px;
}
.invisTextBox {
  transform: translate(-90%, -85%);
}
.invisTextBoxP {
  transform: translate(-90%, 85%);
}
}

@media screen and (max-width: 992px) {
  .scaleableBgLeft {
      max-width: 75%; /* Adjust as needed */
  }
  .invisTextBox {
    transform: translate(-75%, -85%);
  }
  .invisTextBoxP {
    transform: translate(-75%, 85%);
  }
}

@media screen and (max-width: 768px) {
  .scaleableBgLeft {
      max-width: 90%; /* Adjust as needed */
  }
  .invisTextBox {
    transform: translate(-55%, -355%);
    font-size: 40px;
  }
  .invisTextBoxP {
    transform: translate(-55%, -300%);
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .scaleableBgLeft {
      max-width: 100%;
      border-right: 0px;
  }
  .invisTextBox {
    transform: translate(-39%, -355%);
    font-size: 40px;
  }
  .invisTextBoxP {
    transform: translate(-58%, -250%);
    font-size: 17px;
    width: 400px;
  }
}